# vim: sw=4 ts=4 ft=jinja
# {{ ansible_managed }}

auto lo
iface lo inet loopback

# Bring all network ports up
{% for interface in bridges %}
{% for port in interface.ports | default({}) %}
auto {{ port.port }}
iface {{ port.port }} inet manual

{% endfor %}
{% endfor %}

# Bring all openvswitch bridges up and configure ovs
{% for interface in bridges %}
auto {{ interface.name }}
{% if interface.dhcp | default(False) %}
iface {{ interface.name }} inet dhcp
{% elif interface.static is defined %}
iface {{ interface.name }} inet static
	address {{ interface.static[0] | ipaddr('address') }}
	network {{ interface.static[0] | ipaddr('network') }}
	netmask {{ interface.static[0] | ipaddr('netmask') }}
{% if interface.broadcast is defined %}
	broadcast {{ interface.broadcast }}
{% endif %}
{% if interface.gateway is defined %}
	gateway {{interface.gateway}}
{% endif %}
{% if interface.search is defined %}
	dns-search {{ interface.search }}
{% endif %}
{% if interface.nameservers is defined %}
	dns-nameservers{% for nameserver in interface.nameservers %} {{ nameserver }}{% endfor %}

{% endif %}
{% else %}
iface {{ interface.name }} inet manual
{% endif %}
	pre-up    ovs-vsctl --may-exist add-br {{ interface.name }}{% if interface.parent is defined %} {{ interface.parent }} {{ interface.vlan }}{% endif %}

{% for port in interface.ports | default({}) %}
	pre-up   ovs-vsctl --may-exist add-port {{ interface.name }} {{ port.port }}{% if port.vlan is defined %} tag={{ port.vlan }}{% endif %}

{% endfor %}
{% if interface.post_up is defined %}
	post-up {{ interface.post_up }}
{% endif %}
{% for port in interface.ports | default({}) %}
	pre-down  ovs-vsctl --if-exists del-port {{ interface.name }} {{ port.port }}
{% endfor %}
	post-down ovs-vsctl --if-exists del-br {{ interface.name }}

{% if interface.static is defined %}{% for static_ip in interface.static %}{% if not loop.first %}{#add all but first static ip addresses#}
iface {{ interface.name }} inet static
	address {{ static_ip | ipaddr('address') }}
	netmask {{ static_ip | ipaddr('netmask') }}
{% if interface.post_up %}
	post-up {{ interface.post_up }}
{% endif %}
{% endif %}{% endfor %}{% endif %}

{% endfor %}

post-up /sbin/iptables-restore <"/root/test.iptables"
	post-up /sbin/sysctl -w net.ipv4.ip_forward=1
