# {{ ansible_managed }}
{% for hostname in hostvars %}

# {{ hostname }}
{% for interface in hostvars[hostname].interfaces|default([]) %}
{% if interface.ip is defined %}
define ip_{{ hostname | regex_replace('[^A-Za-z0-9]', '_') }}_{{ loop.index0 }} = {{ interface.ip|ipaddr('address') }}
{% endif %}
{% endfor %}
{% endfor %}
